@import url(reset.css);

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rajdhani:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&family=Rajdhani:wght@300;500;700&display=swap');

@media only screen and (max-width: 1919px) {
/* base of the interface */

.base {
  background-color:#E4E3E4;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  
}
.welcome {
  font-family: "EB Garamond";
  text-shadow: 2px 2px 2px rgb(226, 220, 220);

  
}
/* main photo */


/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
} */



.flex-sunrise {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.flex-sunset {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.flex-precipitation {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.flex-wind {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.main-photo {
  margin-top: 1.38rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  /* width: 24.375rem;
  height: 22.25rem; */
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 3.125rem 3.125rem 0rem 0rem;
  background: url(../src/assets/main_image.png);

  background-repeat: no-repeat;
  background-position: center;
}


.main-photo-homescreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(../src/assets/main-photo-homescreen.avif);
  background-repeat: no-repeat;
  background-position: center;

  
}
.search-bar-home:focus-within + .main-photo-homescreen {
  display: none;
}

.temperature {
  /* width: 6.6875rem;
  height: 5.375rem; */
  flex-shrink: 0;
  color: #FFF;
  font-family: "EB Garamond";
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.condition-icon {
  width: 3.0625rem;
  height: 3.12906rem;
  flex-shrink: 0;
  background-color: #FFF;
}

.sunrise-time {
  width: 2.625rem;
  height: 0.5625rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sunset-time {
  width: 2.8125rem;
  height: 0.5625rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location {
  width: 7.5625rem;
  height: 6.25rem;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: "EB Garamond";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.high-low {
  width: 4.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.precipitation {
  width: 1.5rem;
  height: 0.875rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wind-speed {
  width: 2.9375rem;
  height: 0.9375rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* search bar */

.search-bar {
  margin-bottom: 1.5rem;
  width: 20.6875rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.search-bar-home{
  margin-bottom: 1.5rem;
  width: 20.6875rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.6rem;
  padding-right: 0.6rem;

}
.flex-search {
  display: flex;
  align-items: center;
}
.search-logo {
  width: 1.6875rem;
  height: 1.6875rem;
  flex-shrink: 0;
  background: url(../src/assets/search_logo.png);
  /* margin-left: 0.6rem; */
}

.search-text {
  width: 4.4375rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.54);
  font-family: Inter;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width:fit-content;
  border: none;
  outline: none;
  /* margin-left: 1.188rem; */
}

.settings-img {
  align-items: center;
  width: 3.0625rem;
  height: 2.25rem;
  flex-shrink: 0;
  /* margin-left:8.5rem; */
}


/* weather table */

.weather-table {
  margin-top: 1.44rem;
  width: 24.1875rem;
  height: 8.0625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: rgba(189, 167, 153, 0.24);
  padding: 1%;
}


 /* Todays Weather grid */

 .grid-col-span-2{
  grid-column: span 2;
 }

 .grid-col-span-4{
  grid-column: span 4;
 }

.grid-container-todaysWeather{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* text-align: center; */
  height: 15rem;
  padding: 2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.unit-switch-btn {
  font-size: small;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #D8CCCC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0.5rem 0 0.5rem;
}


 /* Weather Table grid CSS */

.grid-container-multiDayOutlook{
  display: grid;
  
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
  font-size: small;
  
}
.grid-border-bottom{
  border-bottom: 1px solid white;
}
.table_image{
  width:50px;
  height:50px;
}
/* tips and caution grid and css*/

.grid-container-imgTipsCaution {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1.44rem;
  grid-gap:1rem;

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  
}

.grid-row-span-2{
  grid-row: span 2;
}

.tip-image {
  width: 12.0625rem;
  height: 11.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: linear-gradient(180deg, rgba(83, 0, 0, 0.00) 0%, rgba(191, 171, 158, 0.92) 100%);
  background: url(../src/assets/tip-image.png);
}

.caution {
  /* width: 10.5rem;
  height: 6.8125rem; */
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #F6F6F6;
}
.caution-text {
  color: #000;
  font-family: "EB Garamond";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.88rem;
  padding-bottom: 0.88rem;
}

.caution-logo1 {
  
  width: 1.5625rem;
  height: 1.60675rem;
  flex-shrink: 0;
  background: url(../src/assets/caution-symbol.png);
  position: relative;
  left: 0.88rem;
  right: 8.06rem;
  
}

.caution-logo2 {

  width: 1.5625rem;
  height: 1.60675rem;
  flex-shrink: 0;
  background: url(../src/assets/caution-symbol.png);
  position: relative;
  right:0.75rem;
  
}

.caution-heading-text {
  width: 6.125rem;
  height: 1.671rem;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  left: 1.25rem;
  right: 1.625rem;
  font-family: "EB Garamond";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  

  }
.tips-writing {
    color: #000;
    font-family: "EB Garamond";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 1.44rem 0  1.44rem;
  }


.heading-caution {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.tip-button {
  width: 7.375rem;
  height: 2.97475rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #D8CCCC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: "EB Garamond";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button:hover{
  color: #F6F6F6;
  background: #9b9191;
}
.translucent-bg{
  position: fixed;
  background: rgba(39, 39, 39, 0.50);
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-inner {
  position: fixed;
  z-index: 9999;
  width: 70%; /* Adjust this as needed */
  height: 70%; /* Adjust this as needed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3125rem;
  background: #F2EBEB;
}

.popup-heading {
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  color: #000;
  text-align: center;
  font-family: "EB Garamond";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.tips-heading {
  margin-left: 50%; /* Adjust this as needed */
  transform: translateX(-50%);
}


.close-btn {
  font-size: large;
}
hr {
  margin: 0 1rem 0 1rem;
}


/* google map */

.map-position {
  margin-top: 2.19rem;
  width: 24.75rem;
  height: 10rem;
  margin-left:2%;
  margin-right:2%;
  background-color: #D8CCCC;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.map-position iframe{
  width: 100%;
  height: 100%;
}

.hidden
{
  display: none;
}

}