@import url(reset.css);

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rajdhani:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&family=Rajdhani:wght@300;500;700&display=swap');

@media only screen and (min-width: 1920px) {

    .base {
        background-color:#E4E3E4;
        display: flex;
        flex-direction:column;
        align-items: center;
        flex-wrap: wrap;
      }


      .main-photo {
        /* width: 24.375rem;
        height: 22.25rem; */
        /* height: 55rem;
        width: 96%; */
        max-width: 100%;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 3.125rem 3.125rem 0rem 0rem;
        background: url(../src/assets/main-image-desktop.jfif);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

}
