

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rajdhani:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&family=Rajdhani:wght@300;500;700&display=swap');

@media only screen and (max-width: 1919px) {
/* base of the interface */

.base {
  background-color:#E4E3E4;
  display: flex;
  flex-direction:column;
  align-items: center;
  
}

.flex-sunrise {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .flex-sunset {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .flex-precipitation {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .flex-wind {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .main-photo {
    margin-top: 1.38rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    /* width: 24.375rem;
    height: 22.25rem; */
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 3.125rem 3.125rem 0rem 0rem;
    background: url(../../assets/main_image.png);
  
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .temperature {
    /* width: 6.6875rem;
    height: 5.375rem; */
    flex-shrink: 0;
    color: #FFF;
    font-family: "EB Garamond";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .condition-icon {
    width: 3.0625rem;
    height: 3.12906rem;
    flex-shrink: 0;
    background-color: #FFF;
  }
  /* .sunrise-logo {
    background-image: url(../src/assets/sunrise.png);
    color: rgba(0, 0, 0, 0);
  }
  .sunset-logo {
    background-image: url(../src/assets/sunset.png);
    color: rgba(0, 0, 0, 0);
  } */
  .sunrise-time {
    width: 2.625rem;
    height: 0.5625rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .sunset-time {
    width: 2.8125rem;
    height: 0.5625rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .location {
    width: 7.5625rem;
    height: 6.25rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "EB Garamond";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .high-low {
    width: 4.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .precipitation {
    width: 1.5rem;
    height: 0.875rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .wind-speed {
    width: 2.9375rem;
    height: 0.9375rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  

}